@font-face {
  font-family: futura;
  src: url(./Futura-Bold.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: helvetica;
}
html, body{
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}
*::selection{
    color: #fff;
    background-color: #000;
}
#page1{
    min-height: 100vh;
    width: 100vw;
    /* position: relative; */
    /* padding-top: 30vh; */
    padding: 30vh 0 0 2vw;
}

#page1 h1{
    font-size: 15vw;
    font-family: futura;
    line-height: 13vw;
    letter-spacing: 0;
}
#page1 img{
    height: 100%;
    width: 100%;
    padding: 1vw;
    padding-right: 3vw;
    object-fit: cover;
}